@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "KyoboHand";
}

/* DiaryEditor */
.DiaryEditor {
  border: 2px solid green;
  text-align: center;
  padding: 40px;
  margin: 30px 30px;
}

.DiaryEditor h2 {
  margin: 0 0 20px 0;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 70vw;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  padding: 10px;
  margin-left: 10px;
}

.DiaryEditor button {
  width: 30vw;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.emotionBtn {
  display: flex;
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

/* DiaryList */
.DiaryList {
  border: 2px solid green;
  padding: 20px;
  margin: 30px 30px;
}

.DiaryList h2 {
  text-align: center;
}

/* DiaryItem */
.DiaryItem {
  background-color: rgb(249, 240, 228);
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: lightgray;
}
